# Fuji testnet ONLY
FUJI_RPC=https://api.avax-test.network/ext/bc/C/rpc
DEPLOYER_ADDRESS=
DEPLOYER_PRIVATE_KEY=
EXECUTOR_ADDRESS=
EXECUTOR_PRIVATE_KEY=
APPLE_TEAM_ID=
DEMO_ADDRESS=
DEMO_PRIVATE_KEY=
RELAYER_ADDRESS=
RELAYER_PRIVATE_KEY=
